<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RunMode" value="WindowsApplication" />
    <!--可选项："WindowsService"、"WindowsApplication"。-->
    <add key="WorkingFolder" value="C:\WorkingFolder" />

    <add key="Database_Server" value="119.23.13.86" />
    <add key="Database_Name" value="MES" />
    <add key="Database_UserID" value="sa" />
    <add key="Database_Password" value="wssoft@0604" />

    <!--<add key="Database_Server" value="." />
    <add key="Database_Name" value="MES" />
    <add key="Database_UserID" value="sa" />
    <add key="Database_Password" value="wssoft@1201" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Mes.BE.Services.ServiceBE" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceBE" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:9010/ServiceBE" binding="netTcpBinding" contract="Mes.BE.Services.IServiceBE" bindingConfiguration="ServiceBinding" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>