html {
    overflow-x: hidden;
    overflow-y: auto;
}

#myrl {
    width: 490px;
    height: 352px;
    margin: 0px auto;
    margin-top:20px;
    position: relative;

}

#teshu {
    float: right;
	text-align:right;
	padding-right:5px;
	font-size:14px;
	height:25px;
	line-height:25px;
	width:285px;
    margin-top: 0px;
}

#box {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0
}



.unover {
    background: #f4f1f1;
    cursor: auto;
}

.pop {
    width: 290px;
    height: 180px;
    background-color: #ffffff;
	font-size:12px;
	color:#000000;

    position: absolute;
}
.pop FONT{
padding-left:5px;}

table.biao {
    border-collapse: collapse;
    font-family: "Times New Roman", "宋体";
}



.over {
    background: #f0e68c;)
}

.tt:hover {
    background: #f9fbc9;
    text-decoration: none;
}

.imag1 {
    margin-right: 2px;
}

.topDateFont{
font-size:14px; color:#000000;}
.calTit FONT{
margin-top:2px;}
.calTit SPAN{
margin-top:2px; font-weight:bold;}



/*===== dateSelection =====*/
#dateSelectionDiv {
	border: 1px solid #f8c173;
	background: #fefef1;
	position: absolute;
	top: 25px;
	z-index: 20;
	width: 160px;
	display: none;
}

#dateSelectionHeader {
	width: 100%;
	font-size: 0;
}
#dateSelectionBody {
	width: 100%;
}
#dateSelectionFooter {
	width: 100%;
	font-size: 0;
}
#dateSeparator {
	margin: 0 auto;
	width: 152px;
	height: 2px;
	font-size: 0;
}
#dateSelectionBtn {
	margin: 0 auto;
	width: 133px;
	height: 20px;
	line-height: 20px;
}
#dateSelectionTodayBtn {
	float: left;
	width: 41px;
	height: 20px;
	cursor: pointer;
}
#dateSelectionOkBtn {
	float: left;
	text-align: center;
	margin: 0 5px 0 5px;
	width: 41px;
	height: 20px;
	cursor: pointer;
}
#dateSelectionCancelBtn {
	float: right;
	text-align: right;
	width: 41px;
	height: 20px;
	cursor: pointer;
}
#yearList {
	width: 158px;
	height: 20px;
	line-height: 20px;
	color: green;
}

#yearListPrev {
	float: left;
	margin-left: 3px;
	text-align: left;
	width: 8px;
	height: 20px;
	cursor: pointer;
}

#yearListNext {
	float: right;
	margin-right: 3px;
	text-align: right;
	width: 8px;
	height: 20px;
	cursor: pointer;
}

#yearListContent {
	float: left;
	height: 20px;
}

#yearListContent .year {
	float: left;
	display: block;
	width: 33px;
	height: 20px;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
}

#yearListContent .curr {
	color: red;
}

#monthList {
	margin: 0 1px 0 1px;
	padding: 0 15px 0 15px;
}

#monthListContent .month {
	float: left;
	display: block;
	width: 17px;
	height: 15px;
	margin: 2px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

#monthListContent .curr {
	color: red;
}

