
<table border="0" cellspacing="0" cellpadding="0" style="margin-left:5px;width:20cm;min-height:1cm;max-height:1cm;">
    <tr>
        <td><div align="center" style="font-size:20px;">多伦斯木业有限公司包装标识卡</div></td>
    </tr>
</table>
<table width="100%" border="1" cellspacing="0" cellpadding="0" style="margin-left:5px;width:19.8cm;min-height:6cm;max-height:6cm;">
    <tr>
        <td style="width:1cm;">订单</td>
        <td style="width:3cm;">{OrderNo}</td>
        <td style="width:2.0cm;">&nbsp产 品</td>
        <td style="width:6cm;">{CabinetCode}</td>
        <td style="width:1.5cm;">&nbsp组 号</td>
        <td style="width:2.0cm;">{GroupNumber}</td>
    </tr>
    <tr>
        <td rowspan="5">客户</td>
        <td rowspan="5" align="center" valign="middle" style="font-size:25px;"><div align="center">{CustomerName}</div></td>
        <td>品(种/)名</td>
        <td colspan="3">{CabinetName}</td>
    </tr>
    <tr>
        <td>&nbsp材 质</td>
        <td>{MaterialStyle}</td>
        <td>&nbsp规 格</td>
        <td>{Size}</td>
    </tr>
    <tr>
        <td>&nbsp油 漆</td>
        <td colspan="2">{Color}</td>
        <td rowspan="3"><img src="/ashx/QRcodehandler.ashx?code={BarcodeNo}&w=115&h=100" width="115" height="100" /></td>
    </tr>
    <tr>
        <td>每包数量</td>
        <td colspan="2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件/ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp套 </td>
    </tr>
    <tr>
        <td>&nbsp进 仓</td>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>