<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Mes.Package.Properties.Settings.PackageConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Package.mdb;Persist Security Info=True;Jet OLEDB:Database Password=1qaz2wsx"
      providerName="System.Data.OleDb" />
    <add name="Mes.Package.Properties.Settings.Cloud_MES_BE_v1ConnectionString"
      connectionString="Data Source=119.23.13.86;Initial Catalog=Cloud_MES_BE_v1;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    <add key="WorkingFolder" value="C:\WorkingFolder"/>
    
    <!--是否是包装工序True,非该工序请设为False  -->
    <add key="IsPackageScan" value="True"/>
    
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://119.23.13.86:6100/ServiceBE" binding="netTcpBinding"
                bindingConfiguration="CliengBinding" contract="BE.IServiceBE"
                name="NetTcpBinding_IServiceBE">
      </endpoint>
      <endpoint address="net.tcp://localhost:2100/ServiceSE" binding="netTcpBinding"
                bindingConfiguration="CliengBinding" contract="SE.IServiceSE"
                name="NetTcpBinding_IServiceSE" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="CliengBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
