@charset "utf-8";

.vipFontStrat
{
    color: red;
}

@font-face
{
    font-family: vipFont;
    src: url(//bootstrap.vipstatic.com/font/vipFont.eot?4090b14c);
    src: url(//bootstrap.vipstatic.com/font/vipFont.eot?4090b14c?#iefix) format('embedded-opentype'),url(//bootstrap.vipstatic.com/font/vipFont.svg?01def549#vipFont) format('svg'),url(//bootstrap.vipstatic.com/font/vipFont.woff?da200a23) format('woff'),url(//bootstrap.vipstatic.com/font/vipFont.ttf?dfd6e085) format('truetype');
    font-weight: 400;
    font-style: normal;
}

.vipFont
{
    font-family: vipFont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.if-size-30
{
    font-size: 30px;
}

.if-size-32
{
    font-size: 32px;
}

.if-size-48
{
    font-size: 48px;
}

.ii-loading, .ii-loading-gray-16x16, .ii-loading-gray-24x24, .ii-loading-gray-32x32, .ii-loading-pink-16x16, .ii-loading-pink-24x24, .ii-loading-pink-32x32
{
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.ii-loading, .ii-loading-gray-16x16
{
    width: 16px;
    height: 16px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-gray-16x16.gif?9f46871c);
}

.ii-loading-gray-24x24
{
    width: 24px;
    height: 24px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-gray-24x24.gif?60167efc);
}

.ii-loading-gray-32x32
{
    width: 32px;
    height: 32px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-gray-32x32.gif?800a2d68);
}

.ii-loading-pink-16x16
{
    width: 16px;
    height: 16px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-pink-16x16.gif?921ebfe0);
}

.ii-loading-pink-24x24
{
    width: 24px;
    height: 24px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-pink-24x24.gif?59a1e33a);
}

.ii-loading-pink-32x32
{
    width: 32px;
    height: 32px;
    background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-pink-32x32.gif?dad71cbf);
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (-moz-min-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2)
{
    .ii-loading, .ii-loading-gray-16x16
    {
        background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-gray-32x32.gif?800a2d68);
        -webkit-background-size: 16px 16px;
        background-size: 16px 16px;
    }

    .ii-loading-pink, .ii-loading-pink-16x16
    {
        background-image: url(//bootstrap.vipstatic.com/img/ui/ui-loading-pink-32x32.gif?dad71cbf);
        -webkit-background-size: 16px 16px;
        background-size: 16px 16px;
    }
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner
{
    margin: 0;
    padding: 0;
    border: 0;
}

a
{
    outline: 0;
}

.ui-btn-big, .ui-btn-large, .ui-btn-nor, .ui-btn-medium, .ui-btn-small, .ui-btn-mini
{
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    *white-space: nowrap;
    _overflow-y: hidden;
}

button.ui-btn-big, button.ui-btn-large, button.ui-btn-nor, button.ui-btn-medium, button.ui-btn-small, button.ui-btn-mini
{
    overflow: visible;
    cursor: pointer;
    outline: 0;
    *line-height: normal;
}

.ui-btn-big:hover, .ui-btn-large:hover, .ui-btn-nor:hover, .ui-btn-medium:hover, .ui-btn-small:hover, .ui-btn-mini:hover
{
    text-decoration: none;
}

.ui-btn-left-icon
{
    vertical-align: top;
    margin-right: 6px;
}

.ui-btn-right-icon
{
    vertical-align: top;
    margin-left: 6px;
}

.ui-btn-big, .ui-btn-large
{
    width:72px;
    min-width: 72px;
    _width: 72px;
    padding: 0 35px;
    font: 18px/44px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    _line-height: 48px;
    height: 44px;
}

button.ui-btn-big, button.ui-btn-large
{
    height: 46px;
}

    button.ui-btn-big .ui-btn-loading-after, button.ui-btn-large .ui-btn-loading-after
    {
        *margin-top: -30px;
    }

.ui-btn-big .ui-btn-loading-after, .ui-btn-large .ui-btn-loading-after
{
    margin-top: -44px;
    line-height: 44px;
    height: 44px;
}

.ui-btn-big .if-shopping-bag, .ui-btn-large .if-shopping-bag
{
    font-size: 22px;
}

.ui-btn-big .if-card, .ui-btn-large .if-card
{
    font-size: 20px;
}

.ui-btn-big .ii-loading, .ui-btn-large .ii-loading, .ui-btn-big .ii-loading-gray-16x16, .ui-btn-large .ii-loading-gray-16x16
{
    margin-top: 14px;
}

.ui-btn-big .ii-loading-gray-24x24, .ui-btn-large .ii-loading-gray-24x24
{
    margin-top: 10px;
}

.ui-btn-nor, .ui-btn-medium
{
    min-width: 60px;
    _width: 60px;
    padding: 0 19px;
    font: 15px/30px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    _line-height: 32px;
    height: 30px;
}

button.ui-btn-nor, button.ui-btn-medium
{
    height: 32px;
}

    button.ui-btn-nor .ui-btn-loading-after, button.ui-btn-medium .ui-btn-loading-after
    {
        *margin-top: -25px;
    }

.ui-btn-nor .ui-btn-loading-after, .ui-btn-medium .ui-btn-loading-after
{
    margin-top: -30px;
    line-height: 30px;
    height: 30px;
}

.ui-btn-nor .vipFont, .ui-btn-medium .vipFont
{
    font-size: 15px;
}

.ui-btn-nor .ii-loading, .ui-btn-medium .ii-loading, .ui-btn-nor .ii-loading-gray-16x16, .ui-btn-medium .ii-loading-gray-16x16
{
    margin-top: 7px;
}

.ui-btn-nor .ii-loading-gray-24x24, .ui-btn-medium .ii-loading-gray-24x24
{
    margin-top: 3px;
}

.ui-btn-small
{
    min-width: 48px;
    _width: 48px;
    padding: 0 11px;
    font: 12px/22px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    _line-height: 24px;
    height: 22px;
}

button.ui-btn-small
{
    height: 24px;
}

    button.ui-btn-small .ui-btn-loading-after
    {
        *margin-top: -20px;
    }

.ui-btn-small .ui-btn-loading-after
{
    margin-top: -22px;
    line-height: 22px;
    height: 22px;
}

.ui-btn-small .ii-loading, .ui-btn-small .ii-loading-gray-16x16
{
    margin-top: 3px;
}

.ui-btn-mini
{
    min-width: 24px;
    _width: 24px;
    padding: 0 5px;
    font: 12px/20px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    _line-height: 22px;
    height: 20px;
}

button.ui-btn-mini
{
    height: 22px;
}

.ui-btn-mini .ui-btn-loading-after
{
    margin-top: -20px;
    line-height: 20px;
    height: 20px;
}

.ui-btn-mini .ii-loading, .ui-btn-mini .ii-loading-gray-16x16
{
    margin-top: 2px;
}

.ui-btn1, .ui-btn-primary
{
    background-color: #f10180;
    border: 1px solid #f10180;
}

    .ui-btn1, .ui-btn-primary, .ui-btn1:hover, .ui-btn-primary:hover, .ui-btn1:active, .ui-btn-primary:active
    {
        color: #fff;
    }

        .ui-btn1:hover, .ui-btn-primary:hover
        {
            background-color: #f43499;
            border-color: #f43499;
        }

        .ui-btn1:active, .ui-btn-primary:active
        {
            background-color: #d80173;
            border-color: #d80173;
        }

.ui-btn2, .ui-btn-secondary
{
    background-color: #fcedf2;
    border: 1px solid #ffbee0;
}

    .ui-btn2, .ui-btn-secondary, .ui-btn2:hover, .ui-btn-secondary:hover, .ui-btn2:active, .ui-btn-secondary:active
    {
        color: #e00078;
    }

        .ui-btn2:hover, .ui-btn-secondary:hover
        {
            background-color: #fbf5f7;
        }

        .ui-btn2:active, .ui-btn-secondary:active
        {
            background-color: #fcdee8;
        }

.ui-btn3, .ui-btn-default
{
    background-color: #fafafa;
    border: 1px solid #c2c2c2;
}

    .ui-btn3, .ui-btn-default, .ui-btn3:hover, .ui-btn-default:hover, .ui-btn3:active, .ui-btn-default:active
    {
        color: #333;
    }

        .ui-btn3:hover, .ui-btn-default:hover
        {
            background-color: #fff;
        }

        .ui-btn3:active, .ui-btn-default:active
        {
            background-color: #f0f0f0;
        }

.ui-btn-home
{
    background-color: #e9ae46;
    border: 1px solid #e9ae46;
}

    .ui-btn-home, .ui-btn-home:hover, .ui-btn-home:active
    {
        color: #fff;
    }

        .ui-btn-home:hover
        {
            background-color: #f2ba55;
            border-color: #f2ba55;
        }

        .ui-btn-home:active
        {
            background-color: #e0a63d;
            border-color: #e0a63d;
        }

.ui-btn-beauty
{
    background-color: #eb437a;
    border: 1px solid #eb437a;
}

    .ui-btn-beauty, .ui-btn-beauty:hover, .ui-btn-beauty:active
    {
        color: #fff;
    }

        .ui-btn-beauty:hover
        {
            background-color: #f45293;
            border-color: #f45293;
        }

        .ui-btn-beauty:active
        {
            background-color: #d42d6d;
            border-color: #d42d6d;
        }

.ui-btn-kid
{
    background-color: #32c7c0;
    border: 1px solid #32c7c0;
}

    .ui-btn-kid, .ui-btn-kid:hover, .ui-btn-kid:active
    {
        color: #fff;
    }

        .ui-btn-kid:hover
        {
            background-color: #42cdc7;
            border-color: #42cdc7;
        }

        .ui-btn-kid:active
        {
            background-color: #28bcb3;
            border-color: #28bcb3;
        }

.ui-btn-float
{
    background-color: #4c4c4c;
    background: rgba(0,0,0,.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);
}

    .ui-btn-float, .ui-btn-float:hover, .ui-btn-float:active
    {
        color: #fff;
    }

        .ui-btn-float:hover
        {
            background-color: #191919;
            background: rgba(0,0,0,.9);
            filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5000000, endcolorstr=#e5000000);
        }

        .ui-btn-float:active
        {
            background: #000;
            -webkit-filter: none;
            filter: none;
        }

:root .ui-btn-float, :root .ui-btn-float:hover
{
    -webkit-filter: none;
    filter: none;
}

.ui-btn-disable, .z-ui-btn-loading, .ui-btn-disable:hover, .z-ui-btn-loading:hover, .ui-btn-disable:active, .z-ui-btn-loading:active
{
    border: 1px solid #d0d0d0;
    color: #999;
    background: #d0d0d0;
    cursor: not-allowed;
}

.ui-btn-loading, button.ui-btn-loading
{
    padding: 0;
    overflow: hidden;
}

.z-ui-btn-loading
{
    -webkit-transition: none;
    transition: none;
}

    .z-ui-btn-loading .ui-btn-loading-before
    {
        -webkit-animation: ani-ui-loading-hide .6s;
        animation: ani-ui-loading-hide .6s;
    }

    .z-ui-btn-loading .ui-btn-loading-after
    {
        position: relative;
        display: block;
        -webkit-animation: ani-ui-loading-show .8s;
        animation: ani-ui-loading-show .8s;
    }

.ui-btn-loading-before
{
    display: inline-block;
}

.ui-btn-loading-after
{
    display: none;
    background-color: #d0d0d0;
}

.ui-btn-txt
{
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

.ui-btn-fav
{
    display: inline-block;
    width: 66px;
    line-height: 22px;
    _line-height: 25px;
    height: 22px;
    border-radius: 11px;
    font-size: 12px;
    background-color: #f2f2f2;
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: top;
}

    .ui-btn-fav a
    {
        -webkit-transition: .3s;
        transition: .3s;
    }

        .ui-btn-fav a .vipFont
        {
            font-size: 13px;
            margin-right: 4px;
            vertical-align: 1px;
        }

.ui-btn-fav-like
{
    display: block;
    color: #f32b80;
}

    .ui-btn-fav-like:hover
    {
        background-color: #f32b80;
        color: #fff;
    }

.ui-btn-fav-cancel
{
    display: none;
}

    .ui-btn-fav-cancel span
    {
        color: #f32b80;
        display: block;
    }

.z-fav-liked-leave .ui-btn-fav-cancel:hover
{
    _zoom: 1;
}

    .z-fav-liked-leave .ui-btn-fav-cancel:hover .liked
    {
        display: none;
    }

.z-fav-liked .ui-btn-fav-like
{
    display: none;
}

.z-fav-liked .ui-btn-fav-cancel
{
    display: block;
}

.ui-btn-fav-simple
{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    line-height: 1;
    _overflow: hidden;
    vertical-align: top;
}

    .ui-btn-fav-simple .icon
    {
        display: none;
        font-size: 15px;
        cursor: pointer;
        vertical-align: top;
    }

    .ui-btn-fav-simple .ui-icon-like
    {
        display: inline-block;
        color: #f785c2;
    }

        .ui-btn-fav-simple .ui-icon-like:hover
        {
            color: #f10280;
            -webkit-animation: ani-ui-fav-simple-hover 1.5s infinite;
            animation: ani-ui-fav-simple-hover 1.5s infinite;
        }

    .ui-btn-fav-simple:hover
    {
        _overflow: visible;
        color: #333;
    }

        .ui-btn-fav-simple:hover .ui-fav-tips-wrap
        {
            display: block;
        }

            .ui-btn-fav-simple:hover .ui-fav-tips-wrap .like
            {
                display: block;
            }

.ui-fav-tips-wrap
{
    position: absolute;
    display: none;
    left: 50%;
    top: 13px;
    *top: 21px;
}

    .ui-fav-tips-wrap .ui-tooltips
    {
        position: relative;
        _width: 80px;
        _text-align: center;
        left: -50%;
        white-space: nowrap;
        visibility: visible;
        opacity: 1;
    }

        .ui-fav-tips-wrap .ui-tooltips .text
        {
            display: none;
        }

.z-fav-simple-liked .ui-icon-like
{
    display: none;
}

.z-fav-simple-liked .ui-icon-liked
{
    color: #f10180;
    display: inline-block;
}

    .z-fav-simple-liked .ui-icon-liked:hover
    {
        -webkit-animation: ani-ui-fav-simple-hover 1.5s infinite;
        animation: ani-ui-fav-simple-hover 1.5s infinite;
    }

.z-fav-simple-liked:hover .ui-tooltips .text
{
    display: none;
}

.z-fav-simple-liked:hover .ui-tooltips .liked
{
    display: block;
}

.z-fav-simple-liked-leave .ui-icon-liked:hover
{
    -webkit-animation: ani-ui-fav-simple-cancel .2s infinite;
    animation: ani-ui-fav-simple-cancel .2s infinite;
}

.z-fav-simple-liked-leave:hover .ui-tooltips .text
{
    display: none;
}

.z-fav-simple-liked-leave:hover .ui-tooltips .cancel
{
    display: block;
}

.z-fav-simple-cancel-leave:hover .ui-tooltips .text
{
    display: none;
}

.z-fav-simple-cancel-leave:hover .ui-tooltips .canceled
{
    display: block;
}

.ani-like-FadeIn .icon
{
    -webkit-animation: ani-ui-fav-simple-fadeIn 1s!important;
    animation: ani-ui-fav-simple-fadeIn 1s!important;
}

.ani-like-FadeOut .icon
{
    -webkit-animation: ani-ui-fav-simple-fadeout 1s!important;
    animation: ani-ui-fav-simple-fadeout 1s!important;
}

@-webkit-keyframes ani-ui-loading-show
{
    0%
    {
        -webkit-transform: translate(0,-100%);
        transform: translate(0,-100%);
    }

    100%
    {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@keyframes ani-ui-loading-show
{
    0%
    {
        -webkit-transform: translate(0,-100%);
        -ms-transform: translate(0,-100%);
        transform: translate(0,-100%);
    }

    100%
    {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@-webkit-keyframes ani-ui-loading-hide
{
    0%
    {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    100%
    {
        -webkit-transform: translate(0,100%);
        transform: translate(0,100%);
    }
}

@keyframes ani-ui-loading-hide
{
    0%
    {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }

    100%
    {
        -webkit-transform: translate(0,100%);
        -ms-transform: translate(0,100%);
        transform: translate(0,100%);
    }
}

@-webkit-keyframes ani-ui-fav-simple-hover
{
    25%,75%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50%
    {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes ani-ui-fav-simple-hover
{
    25%,75%
    {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    50%
    {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-webkit-keyframes ani-ui-fav-simple-fadeIn
{
    0%
    {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100%
    {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes ani-ui-fav-simple-fadeIn
{
    0%
    {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100%
    {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes ani-ui-fav-simple-fadeout
{
    100%
    {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes ani-ui-fav-simple-fadeout
{
    100%
    {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes ani-ui-fav-simple-cancel
{
    25%
    {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    75%
    {
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }
}

@keyframes ani-ui-fav-simple-cancel
{
    25%
    {
        -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    75%
    {
        -webkit-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }
}

.ui-tips-big .close, .ui-tips-nor .close
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 6px;
    font: 14px/1 arial;
}

    .ui-tips-big .close, .ui-tips-nor .close, .ui-tips-big .close:hover, .ui-tips-nor .close:hover
    {
        color: #a6a5a5;
        text-decoration: none;
    }

.ui-tips-big
{
    position: relative;
    padding: 4px 0 4px 40px;
    border-radius: 2px;
    zoom: 1;
    font-family: tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
}

    .ui-tips-big .title
    {
        line-height: 24px;
        font-size: 16px;
        color: #424141;
        font-weight: 400;
    }

    .ui-tips-big .info
    {
        line-height: 20px;
        font-size: 12px;
        color: #2a2a2a;
    }

    .ui-tips-big i
    {
        position: absolute;
        left: 14px;
        top: 9px;
        line-height: 1;
    }

.ui-tips-nor
{
    position: relative;
    padding-left: 15px;
    line-height: 30px;
    border-radius: 2px;
    zoom: 1;
    font-family: tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
}

    .ui-tips-nor .info
    {
        font-size: 14px;
        color: #2a2a2a;
    }

    .ui-tips-nor i
    {
        margin-right: 13px;
        vertical-align: top;
    }

.ui-tips1
{
    background-color: #fffbf3;
    border: 1px solid #f8dcb0;
}

.if-sigh
{
    color: #f9a123;
}

.ui-tips2
{
    background-color: #dff1f8;
    border: 1px solid #b4e1f3;
}

.if-info
{
    color: #249fdf;
}

.ui-tips3
{
    background-color: #dff2d9;
    border: 1px solid #c1e0af;
}

.if-sucess, .if-success
{
    color: #47b85c;
}

.ui-tips4
{
    background-color: #f4e5e5;
    border: 1px solid #ebced0;
}

.if-wrong
{
    color: #f64a4a;
}

.if-query
{
    color: #2689f8;
}

.ui-tips-pop .bottom, .ui-tips-pop .bottom1
{
    left: 50%;
    margin-left: -7px;
}

.ui-tips-pop .top, .ui-tips-pop .top1
{
    left: 50%;
    margin-left: -7px;
}

.ui-tips-pop .left, .ui-tips-pop .left1
{
    top: 50%;
    margin-top: -7px;
}

.ui-tips-pop .right, .ui-tips-pop .right1
{
    top: 50%;
    margin-top: -7px;
}

.ui-tips-pop, .ui-tooltips
{
    position: absolute;
    max-width: 800px;
    border: 1px solid #dbdada;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font: 12px/18px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #4d4d4d;
    z-index: 50;
}

    .ui-tips-pop .arrow, .ui-tooltips .arrow
    {
        position: absolute;
        width: 14px;
        text-align: left;
        height: 14px;
        *overflow: hidden;
        font: 400 12px/14px \5B8B\4F53,Hiragino Sans GB;
        _line-height: 16px;
        color: #fff;
    }

    .ui-tips-pop .bottom
    {
        color: #dbdada;
        bottom: -6px;
        text-shadow: 0 0 4px rgba(0,0,0,.15);
    }

:root .ui-tips-pop .bottom
{
    bottom: -7px \9;
}

.ui-tips-pop .bottom1
{
    bottom: -5px;
}

:root .ui-tips-pop .bottom1
{
    bottom: -6px \9;
}

.ui-tips-pop .top
{
    color: #dbdada;
    top: -5px;
    text-shadow: 0 0 4px rgba(0,0,0,.15);
}

:root .ui-tips-pop .top
{
    top: -4px \9;
}

.ui-tips-pop .top1
{
    top: -4px;
}

:root .ui-tips-pop .top1
{
    top: -3px \9;
}

.ui-tips-pop .left
{
    color: #dbdada;
    left: -4px;
    text-shadow: 0 0 4px rgba(0,0,0,.15);
}

.ui-tips-pop .left1
{
    left: -3px;
}

.ui-tips-pop .right
{
    color: #dbdada;
    right: -7px;
    text-shadow: 0 0 4px rgba(0,0,0,.15);
}

.ui-tips-pop .right1
{
    right: -6px;
}

.ui-tips-pop .close
{
    float: right;
    padding: 3px 6px;
    font: 14px/1 arial;
}

    .ui-tips-pop .close, .ui-tips-pop .close:hover
    {
        color: #a6a5a5;
        text-decoration: none;
    }

.ui-tips-pop .cnt
{
    position: relative;
    background-color: #fff;
    padding: 7px 15px;
    *zoom: 1;
    *display: inline;
}

.ui-tooltips-top-arrow, .ui-tooltips-top-left-arrow, .ui-tooltips-top-right-arrow
{
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

    .ui-tooltips-top-arrow .ui-tooltips-arrow, .ui-tooltips-top-left-arrow .ui-tooltips-arrow, .ui-tooltips-top-right-arrow .ui-tooltips-arrow
    {
        left: 0;
        top: -11px;
        width: 100%;
        height: 10px;
    }

    .ui-tooltips-top-arrow .arrow, .ui-tooltips-top-left-arrow .arrow, .ui-tooltips-top-right-arrow .arrow
    {
        margin-left: -7px;
        bottom: -11px;
    }

    .ui-tooltips-top-arrow .arrow-out, .ui-tooltips-top-left-arrow .arrow-out, .ui-tooltips-top-right-arrow .arrow-out
    {
        margin-left: -7px;
        bottom: -10px;
    }

.ui-tooltips-right-arrow, .ui-tooltips-right-top-arrow, .ui-tooltips-right-bottom-arrow
{
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

    .ui-tooltips-right-arrow .ui-tooltips-arrow, .ui-tooltips-right-top-arrow .ui-tooltips-arrow, .ui-tooltips-right-bottom-arrow .ui-tooltips-arrow
    {
        top: 0;
        right: -11px;
        width: 10px;
        height: 100%;
    }

    .ui-tooltips-right-arrow .arrow, .ui-tooltips-right-top-arrow .arrow, .ui-tooltips-right-bottom-arrow .arrow
    {
        margin-top: -7px;
        left: -9px;
    }

    .ui-tooltips-right-arrow .arrow-out, .ui-tooltips-right-top-arrow .arrow-out, .ui-tooltips-right-bottom-arrow .arrow-out
    {
        margin-top: -7px;
        left: -8px;
    }

.ui-tooltips-bottom-arrow, .ui-tooltips-bottom-left-arrow, .ui-tooltips-bottom-right-arrow
{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

    .ui-tooltips-bottom-arrow .ui-tooltips-arrow, .ui-tooltips-bottom-left-arrow .ui-tooltips-arrow, .ui-tooltips-bottom-right-arrow .ui-tooltips-arrow
    {
        left: 0;
        bottom: -11px;
        width: 100%;
        height: 10px;
    }

    .ui-tooltips-bottom-arrow .arrow, .ui-tooltips-bottom-left-arrow .arrow, .ui-tooltips-bottom-right-arrow .arrow
    {
        margin-left: -7px;
        top: -10px;
    }

:root .ui-tooltips-bottom-arrow .arrow, :root .ui-tooltips-bottom-left-arrow .arrow, :root .ui-tooltips-bottom-right-arrow .arrow
{
    top: -9px\9;
}

.ui-tooltips-bottom-arrow .arrow-out, .ui-tooltips-bottom-left-arrow .arrow-out, .ui-tooltips-bottom-right-arrow .arrow-out
{
    margin-left: -7px;
    top: -9px;
}

:root .ui-tooltips-bottom-arrow .arrow-out, :root .ui-tooltips-bottom-left-arrow .arrow-out, :root .ui-tooltips-bottom-right-arrow .arrow-out
{
    top: -8px\9;
}

.ui-tooltips-left-arrow, .ui-tooltips-left-top-arrow, .ui-tooltips-left-bottom-arrow
{
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

    .ui-tooltips-left-arrow .ui-tooltips-arrow, .ui-tooltips-left-top-arrow .ui-tooltips-arrow, .ui-tooltips-left-bottom-arrow .ui-tooltips-arrow
    {
        top: 0;
        left: -11px;
        width: 10px;
        height: 100%;
    }

    .ui-tooltips-left-arrow .arrow, .ui-tooltips-left-top-arrow .arrow, .ui-tooltips-left-bottom-arrow .arrow
    {
        margin-top: -7px;
        right: -12px;
    }

    .ui-tooltips-left-arrow .arrow-out, .ui-tooltips-left-top-arrow .arrow-out, .ui-tooltips-left-bottom-arrow .arrow-out
    {
        margin-top: -7px;
        right: -11px;
    }

.ui-tooltips
{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform ease-out .15s,opacity ease-out .15s;
    transition: transform ease-out .15s,opacity ease-out .15s;
}

.ui-tooltips-close
{
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 6px;
    font-size: 10px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    color: #999;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .ui-tooltips-close
    {
        -webkit-transform: scale(0.83);
        -ms-transform: scale(0.83);
        transform: scale(0.83);
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
    }
}

.ui-tooltips-close:hover
{
    color: #666;
}

.ui-tooltips-content
{
    position: relative;
    background-color: #fff;
    padding: 6px 15px;
}

.ui-tooltips-msg
{
    padding-left: 26px;
}

    .ui-tooltips-msg .vipFont
    {
        display: inline-block;
        width: 26px;
        margin-left: -26px;
        text-align: left;
        vertical-align: top;
    }

.ui-tooltips-handle .ui-tooltips-content
{
    padding: 20px 25px;
}

.ui-tooltips-command
{
    margin-top: 12px;
    text-align: center;
    _padding-left: 10px;
}

    .ui-tooltips-command a, .ui-tooltips-command button
    {
        margin: 0 5px;
        _margin: 0 10px 0 0;
    }

.ui-tooltips-arrow
{
    position: absolute;
}

    .ui-tooltips-arrow .arrow-out
    {
        color: #dbdada;
        text-shadow: 0 0 4px rgba(0,0,0,.15);
    }

.ui-tooltips-top-arrow .arrow, .ui-tooltips-top-arrow .arrow-out
{
    left: 50%;
}

.ui-tooltips-top-left-arrow .arrow, .ui-tooltips-top-left-arrow .arrow-out
{
    left: 25%;
}

.ui-tooltips-top-right-arrow .arrow, .ui-tooltips-top-right-arrow .arrow-out
{
    left: 75%;
}

.ui-tooltips-right-arrow .arrow, .ui-tooltips-right-arrow .arrow-out
{
    top: 50%;
}

.ui-tooltips-right-top-arrow .arrow, .ui-tooltips-right-top-arrow .arrow-out
{
    top: 25%;
}

.ui-tooltips-right-bottom-arrow .arrow, .ui-tooltips-right-bottom-arrow .arrow-out
{
    top: 75%;
}

.ui-tooltips-bottom-arrow .arrow, .ui-tooltips-bottom-arrow .arrow-out
{
    left: 50%;
}

.ui-tooltips-bottom-left-arrow .arrow, .ui-tooltips-bottom-left-arrow .arrow-out
{
    left: 25%;
}

.ui-tooltips-bottom-right-arrow .arrow, .ui-tooltips-bottom-right-arrow .arrow-out
{
    left: 75%;
}

.ui-tooltips-left-arrow .arrow, .ui-tooltips-left-arrow .arrow-out
{
    top: 50%;
}

.ui-tooltips-left-top-arrow .arrow, .ui-tooltips-left-top-arrow .arrow-out
{
    top: 25%;
}

.ui-tooltips-left-bottom-arrow .arrow, .ui-tooltips-left-bottom-arrow .arrow-out
{
    top: 75%;
}

.ui-tooltips-warning
{
    border-color: #f8dbb1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .ui-tooltips-warning .ui-tooltips-content
    {
        background-color: #fffaf3;
    }

    .ui-tooltips-warning .arrow
    {
        text-shadow: none;
        color: #fffaf3;
    }

    .ui-tooltips-warning .arrow-out
    {
        color: #f8dbb1;
    }

.ui-tooltips-info
{
    border-color: #91daf2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .ui-tooltips-info .ui-tooltips-content
    {
        background-color: #e7f9ff;
    }

    .ui-tooltips-info .arrow
    {
        text-shadow: none;
        color: #e7f9ff;
    }

    .ui-tooltips-info .arrow-out
    {
        color: #91daf2;
    }

.z-ui-tooltips-in, .z-ui-tooltips-in .ui-tooltips
{
    visibility: visible;
    -webkit-transform: translate(0px,0);
    -ms-transform: translate(0px,0);
    transform: translate(0px,0);
    opacity: 1;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.z-ui-tooltips-out
{
    opacity: 0;
}

    .z-ui-tooltips-out .ui-tooltips
    {
        visibility: hidden;
        opacity: 0;
    }

:root .z-ui-tooltips-out .ui-tooltips
{
    visibility: visible;
}

.ui-paging
{
    font: 12px/32px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    _zoom: 1;
}

    .ui-paging .total
    {
        display: inline-block;
        font-size: 14px;
        color: #424141;
        padding-right: 8px;
    }

    .ui-paging .focus
    {
        color: #e0468d;
        font-style: normal;
    }

    .ui-paging .ellipsis
    {
        margin-left: 12px;
        margin-right: 13px;
    }

    .ui-paging a
    {
        display: inline-block;
        min-width: 18px;
        _width: 18px;
        padding: 0 6px;
        line-height: 30px;
        border: 1px solid #b8b8b8;
        background-color: #fff;
        margin-left: 2px;
        margin-right: 3px;
        border-radius: 2px;
        color: #848585;
        white-space: nowrap;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
        text-align: center;
    }

        .ui-paging a:hover
        {
            color: #de3083;
            background-color: #fef9fb;
            border-color: #f995c5;
        }

        .ui-paging a:active
        {
            background-color: #ffe0ed;
            color: #de3083;
            border-color: #f778b5;
        }

        .ui-paging a.z-current
        {
            background-color: #f22a80;
            color: #fff;
            border-color: #cd2a78;
        }

        .ui-paging a.z-disable, .ui-paging a.z-disable:hover, .ui-paging a.z-disable:active
        {
            background-color: #fafafa;
            color: #d1d1d1;
            border-color: #dbdbdb;
            cursor: not-allowed;
        }

        .ui-paging a.next
        {
            width: 70px;
        }

            .ui-paging a.next .vipFont
            {
                margin-right: -7px;
            }

.ui-paging-mini
{
    line-height: 24px;
}

    .ui-paging-mini a
    {
        padding: 0 2px;
        min-width: 18px;
        _width: 18px;
        line-height: 22px;
    }

    .ui-paging-mini .next
    {
        width: 62px;
    }

.ui-paging-btn
{
    display: inline-block;
    width: 30px;
    height: 50px;
    background-color: #000;
    background: rgba(0,0,0,.2);
    filter: alpha(opacity=20);
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

    .ui-paging-btn:hover
    {
        background: rgba(0,0,0,.35);
        filter: alpha(opacity=35);
    }

    .ui-paging-btn:active
    {
        background: rgba(0,0,0,.45);
        filter: alpha(opacity=45);
    }

    .ui-paging-btn .vipFont
    {
        color: #fff;
        font-size: 21px;
        line-height: 50px;
    }

:root .ui-paging-btn, :root .ui-paging-btn:hover, :root .ui-paging-btn:active
{
    -webkit-filter: none;
    filter: none;
}

.z-ui-paging-btn-disable
{
    cursor: not-allowed;
}

    .z-ui-paging-btn-disable .vipFont
    {
        color: #c7c7c7;
    }

    .z-ui-paging-btn-disable, .z-ui-paging-btn-disable:hover, .z-ui-paging-btn-disable:active
    {
        background: rgba(0,0,0,.1);
        filter: alpha(opacity=10);
    }

.ui-paging-icon-btn
{
    font-size: 21px;
    color: gray;
}

    .ui-paging-icon-btn:hover
    {
        color: #4c4c4c;
    }

    .ui-paging-icon-btn:active
    {
        color: #333;
    }

.z-ui-paging-icon-btn-disable
{
    cursor: not-allowed;
}

    .z-ui-paging-icon-btn-disable, .z-ui-paging-icon-btn-disable:hover, .z-ui-paging-icon-btn-disable:active
    {
        color: #ccc;
    }

.ui-window-mask
{
    display: none;
    position: fixed;
    _position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2000000, endcolorstr=#B2000000);
}

:root .ui-window-mask
{
    -webkit-filter: none;
    filter: none;
}

.ui-dialog
{
    *display: none;
    position: fixed;
    _position: absolute;
    z-index: 1001;
    padding: 5px;
    color: #666;
    background: rgba(255,255,255,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5);
    box-shadow: 0 1px 6px rgba(0,0,0,.5);
    visibility: hidden;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    -webkit-transition: -webkit-transform ease-out .35s,opacity ease-out .35s;
    transition: transform ease-out .35s,opacity ease-out .35s;
    font-family: tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
}

:root .ui-dialog
{
    -webkit-filter: none;
    filter: none;
}

.ui-dialog-task .ui-dialog-inner
{
    padding-top: 40px;
}

.ui-dialog-small
{
    width: 390px;
}

.ui-dialog-medium
{
    width: 460px;
}

.ui-dialog-large
{
    width: 600px;
}

.ui-dialog-super
{
    width: 800px;
}

.ui-dialog-inner
{
    background-color: #fff;
    padding: 50px 60px;
    max-height: 430px;
    min-height: 74px;
    _height: 74px;
    font-size: 13px;
    line-height: 1.6;
    overflow: auto;
    _overflow: visible;
}

    .ui-dialog-inner::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
    }

    .ui-dialog-inner::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background: rgba(0,0,0,.2);
    }

        .ui-dialog-inner::-webkit-scrollbar-thumb:window-inactive
        {
            background: rgba(0,0,0,.1);
        }

        .ui-dialog-inner::-webkit-scrollbar-thumb:vertical:hover
        {
            background-color: rgba(0,0,0,.3);
        }

        .ui-dialog-inner::-webkit-scrollbar-thumb:vertical:active
        {
            background-color: rgba(0,0,0,.7);
        }

.ui-dialog-close
{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #999;
    padding: 1px;
}

    .ui-dialog-close:hover
    {
        color: #666;
        text-decoration: none;
    }

.ui-dialog-title
{
    position: relative;
    height: 34px;
    line-height: 34px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #efefef;
    text-indent: 10px;
    font-weight: 400;
    -webkit-text-stroke: .3px rgba(0,0,0,.6);
}

.ui-dialog-tips
{
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 32px;
    _height: 32px;
    margin-bottom: 16px;
    color: #333;
}

    .ui-dialog-tips .vipFont
    {
        float: left;
        margin-left: -42px;
        _margin-left: -39px;
        margin-top: -5px;
        font-size: 32px;
        line-height: 1;
    }

    .ui-dialog-tips .text
    {
        display: inline-block;
        padding-top: 5px;
        text-align: left;
        padding-left: 42px;
    }

.ui-dialog-command
{
    margin-top: 26px;
    text-align: center;
}

    .ui-dialog-command a
    {
        margin: 0 10px;
    }

.z-ui-dialog-in
{
    *display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.z-ui-dialog-out
{
    *display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

:root .z-ui-dialog-out
{
    visibility: visible;
}

.ui-radio
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 0;
    line-height: 0;
}

.ui-radio-normal
{
    vertical-align: text-top;
}

.ui-radio-simulation
{
    display: none;
    cursor: pointer;
}

:root .ui-radio-normal
{
    display: none;
}

    :root .ui-radio-normal:checked + .ui-radio-simulation
    {
        background-position: 0 -42px;
    }

    :root .ui-radio-normal[disabled] + .ui-radio-simulation
    {
        cursor: not-allowed;
        background-position: -21px -42px;
    }

    :root .ui-radio-normal:checked[disabled] + .ui-radio-simulation
    {
        cursor: not-allowed;
        background-position: -48px -21px;
    }

:root .ui-radio-simulation
{
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(//bootstrap.vipstatic.com/img/ui/sprite.png?0e1add8f);
    background-position: -72px 0;
    width: 16px;
    height: 16px;
}

    :root .ui-radio-simulation:hover
    {
        background-position: -42px -42px;
    }

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (-moz-min-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2)
{
    :root .ui-radio-normal:checked + .ui-radio-simulation
    {
        background-position: -48px -21px;
    }

    :root .ui-radio-normal[disabled] + .ui-radio-simulation
    {
        background-position: -42px -42px;
    }

    :root .ui-radio-normal:checked[disabled] + .ui-radio-simulation
    {
        background-position: 0 -42px;
    }

    :root .ui-radio-simulation
    {
        background-image: url(//bootstrap.vipstatic.com/img/ui/sprite@2x.png?46f7532e);
        background-position: -21px -42px;
        -webkit-background-size: 88px 58px;
        background-size: 88px 58px;
    }

        :root .ui-radio-simulation:hover
        {
            background-position: -72px 0;
        }
}

.ui-checkbox
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 0;
    line-height: 0;
}

.ui-checkbox-normal
{
    vertical-align: text-top;
}

.ui-checkbox-simulation
{
    display: none;
    cursor: pointer;
}

:root .ui-checkbox-normal
{
    display: none;
}

    :root .ui-checkbox-normal:checked + .ui-checkbox-simulation
    {
        background-position: -24px 0;
    }

    :root .ui-checkbox-normal[disabled] + .ui-checkbox-simulation
    {
        cursor: not-allowed;
        background-position: 0 -21px;
    }

    :root .ui-checkbox-normal:checked[disabled] + .ui-checkbox-simulation
    {
        cursor: not-allowed;
        background-position: 0 0;
    }

:root .ui-checkbox-simulation
{
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(//bootstrap.vipstatic.com/img/ui/sprite.png?0e1add8f);
    background-position: -48px 0;
    width: 19px;
    height: 16px;
}

    :root .ui-checkbox-simulation:hover
    {
        background-position: -24px -21px;
    }

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (-moz-min-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2)
{
    :root .ui-checkbox-normal:checked + .ui-checkbox-simulation
    {
        background-position: 0 0;
    }

    :root .ui-checkbox-normal[disabled] + .ui-checkbox-simulation
    {
        background-position: -24px -21px;
    }

    :root .ui-checkbox-normal:checked[disabled] + .ui-checkbox-simulation
    {
        background-position: -24px 0;
    }

    :root .ui-checkbox-simulation
    {
        background-image: url(//bootstrap.vipstatic.com/img/ui/sprite@2x.png?46f7532e);
        background-position: 0 -21px;
        -webkit-background-size: 88px 58px;
        background-size: 88px 58px;
    }

        :root .ui-checkbox-simulation:hover
        {
            background-position: -48px 0;
        }
}

.ui-dropdown
{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 162px;
    border-radius: 3px;
    text-align: left;
    font: 12px/28px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    vertical-align: top;
}

.ui-dropdown-bd
{
    display: none;
    top: 31px;
    left: 0;
    min-width: calc(100% - 2px);
    max-height: 346px;
    overflow-y: auto;
    overflow-x: hidden;
    _overflow: auto;
    position: absolute;
    padding-bottom: 8px;
    background-color: #fff;
    border: 1px solid #848484;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 0 0 2px #f7f7f7;
    box-shadow: 0 0 0 2px #f7f7f7;
}

.ui-dropdown-bd-right
{
    left: auto;
    right: 0;
}

.ui-dropdown-bd .selected a, .ui-dropdown-bd .selected a:hover, .ui-dropdown-bd .selected a:active
{
    background-color: #f10180;
    color: #fff;
}

.ui-dropdown-bd a
{
    display: block;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    *zoom: 1;
}

    .ui-dropdown-bd a:hover
    {
        color: #666;
        text-decoration: none;
        background-color: #ededed;
    }

    .ui-dropdown-bd a:active
    {
        background-color: #f10180;
        color: #fff;
    }

.ui-dropdown-hd
{
    position: relative;
    z-index: 2;
    padding: 0 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    *zoom: 1;
}

    .ui-dropdown-hd:hover
    {
        border-color: #949494;
    }

        .ui-dropdown-hd:hover .vipFont
        {
            color: #949494;
        }

    .ui-dropdown-hd .vipFont
    {
        position: absolute;
        right: 7px;
        color: #b3b3b3;
        -webkit-transition: -webkit-transform .2s;
        transition: transform .2s;
        line-height: 1;
    }

    .ui-dropdown-hd .i-arrow-down
    {
        top: 7px;
    }

    .ui-dropdown-hd .i-arrow-up
    {
        visibility: hidden;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        top: 6px;
    }

.ui-dropdown-current
{
    display: block;
    zoom: 1;
    color: #999;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

    .ui-dropdown-current:hover
    {
        color: #999;
        text-decoration: none;
    }

.ui-dropdown-tips
{
    padding: 12px 0 4px 10px;
    line-height: 20px;
    color: #ed1616;
}

.ui-dropdown .ui-dropdown-menu .ui-dropdown-loading
{
    float: none;
    width: auto;
    padding-top: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

    .ui-dropdown .ui-dropdown-menu .ui-dropdown-loading .ii-loading-pink-16x16, .ui-dropdown .ui-dropdown-menu .ui-dropdown-loading .ii-loading-pink-24x24, .ui-dropdown .ui-dropdown-menu .ui-dropdown-loading .ii-loading-pink-32x32
    {
        vertical-align: middle;
        margin-right: 12px;
    }

    .ui-dropdown .ui-dropdown-menu .ui-dropdown-loading .text
    {
        display: inline-block;
        vertical-align: middle;
    }

.ui-dropdown-col-2, .ui-dropdown-col-3, .ui-dropdown-col-4
{
    width: 115px;
}

.z-ui-dropdown-open .ui-dropdown-col-2 .ui-dropdown-hd, .z-ui-dropdown-open .ui-dropdown-col-3 .ui-dropdown-hd, .z-ui-dropdown-open .ui-dropdown-col-4 .ui-dropdown-hd
{
    border-bottom: 0;
    padding-bottom: 1px;
}

.ui-dropdown-col-2 .ui-dropdown-bd, .ui-dropdown-col-3 .ui-dropdown-bd, .ui-dropdown-col-4 .ui-dropdown-bd
{
    padding-top: 8px;
}

.ui-dropdown-col-2 .ui-dropdown-tips, .ui-dropdown-col-3 .ui-dropdown-tips, .ui-dropdown-col-4 .ui-dropdown-tips
{
    padding-top: 0;
}

.ui-dropdown-col-2 .ui-dropdown-menu, .ui-dropdown-col-3 .ui-dropdown-menu, .ui-dropdown-col-4 .ui-dropdown-menu
{
    padding: 0 5px;
}

    .ui-dropdown-col-2 .ui-dropdown-menu li, .ui-dropdown-col-3 .ui-dropdown-menu li, .ui-dropdown-col-4 .ui-dropdown-menu li
    {
        float: left;
        _overflow: hidden;
    }

        .ui-dropdown-col-2 .ui-dropdown-menu li a, .ui-dropdown-col-3 .ui-dropdown-menu li a, .ui-dropdown-col-4 .ui-dropdown-menu li a
        {
            _width: 83px;
            padding: 0 0 0 5px;
            margin: 0 5px 2px;
        }

.ui-dropdown-col-2 .ui-dropdown-bd
{
    width: 190px;
}

.ui-dropdown-col-2 .ui-dropdown-menu li
{
    width: 50%;
}

.ui-dropdown-col-3 .ui-dropdown-bd
{
    width: 280px;
}

.ui-dropdown-col-3 .ui-dropdown-menu li
{
    width: 33%;
}

.ui-dropdown-col-4 .ui-dropdown-bd
{
    width: 370px;
}

.ui-dropdown-col-4 .ui-dropdown-menu li
{
    width: 25%;
}

.ui-dropdown-float
{
    line-height: 26px;
    width: 120px;
}

    .ui-dropdown-float:hover, .ui-dropdown-float-hover
    {
        z-index: 100;
    }

        .ui-dropdown-float:hover .ui-dropdown-hd .vipFont, .ui-dropdown-float-hover .ui-dropdown-hd .vipFont
        {
            color: #848484;
            line-height: 1;
        }

        .ui-dropdown-float:hover .ui-dropdown-hd .i-arrow-up, .ui-dropdown-float-hover .ui-dropdown-hd .i-arrow-up
        {
            visibility: visible;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        .ui-dropdown-float:hover .ui-dropdown-hd .i-arrow-down, .ui-dropdown-float-hover .ui-dropdown-hd .i-arrow-down
        {
            visibility: hidden;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .ui-dropdown-float:hover .ui-dropdown-bd, .ui-dropdown-float-hover .ui-dropdown-bd
        {
            display: block;
        }

        .ui-dropdown-float:hover .ui-dropdown-current, .ui-dropdown-float-hover .ui-dropdown-current
        {
            color: #333;
        }

    .ui-dropdown-float .ui-dropdown-current
    {
        display: inline-block;
        padding-right: 16px;
        margin-right: 0;
        color: #666;
        font-size: 12px;
    }

        .ui-dropdown-float .ui-dropdown-current:hover
        {
            color: #333;
        }

    .ui-dropdown-float .ui-dropdown-hd
    {
        border: 0 none;
        background: 0;
    }

        .ui-dropdown-float .ui-dropdown-hd .vipFont
        {
            right: auto;
            margin-left: -16px;
        }

    .ui-dropdown-float .ui-dropdown-bd
    {
        top: 0;
        max-height: 312px;
        padding-top: 30px;
        border-radius: 0;
        border-color: #cbcaca;
    }

        .ui-dropdown-float .ui-dropdown-bd a
        {
            color: #666;
        }

            .ui-dropdown-float .ui-dropdown-bd a:hover, .ui-dropdown-float .ui-dropdown-bd a:active
            {
                background: 0;
                color: #f10180;
            }

        .ui-dropdown-float .ui-dropdown-bd .selected a, .ui-dropdown-float .ui-dropdown-bd .selected a:hover, .ui-dropdown-float .ui-dropdown-bd .selected a:active
        {
            background: 0;
            color: #f10180;
        }

    .ui-dropdown-float .ui-dropdown-menu .ui-dropdown-loading
    {
        line-height: 50px;
        font-size: 12px;
    }

.z-ui-dropdown-selected .ui-dropdown-current, .z-ui-dropdown-selected .ui-dropdown-current:hover
{
    color: #333;
}

.z-ui-dropdown-disable .ui-dropdown-hd
{
    background-color: #f0efef;
    color: #999;
    cursor: not-allowed;
}

    .z-ui-dropdown-disable .ui-dropdown-hd:hover .vipFont
    {
        color: #b3b3b3;
    }

.z-ui-dropdown-disable .ui-dropdown-current, .z-ui-dropdown-disable .ui-dropdown-current:hover
{
    color: #999;
    cursor: not-allowed;
}

.z-ui-dropdown-open
{
    z-index: 100;
    -webkit-box-shadow: 0 0 0 2px rgba(153,153,153,.08);
    box-shadow: 0 0 0 2px rgba(153,153,153,.08);
}

    .z-ui-dropdown-open .ui-dropdown-hd
    {
        border-radius: 3px 3px 0 0;
        border-color: #848484;
        border-bottom-color: #dcdada;
    }

        .z-ui-dropdown-open .ui-dropdown-hd .vipFont
        {
            color: #848484;
        }

        .z-ui-dropdown-open .ui-dropdown-hd .i-arrow-up
        {
            visibility: visible;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        .z-ui-dropdown-open .ui-dropdown-hd .i-arrow-down
        {
            visibility: hidden;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .z-ui-dropdown-open .ui-dropdown-bd
    {
        display: block;
    }

.ui-input, .ui-textarea
{
    width: 148px;
    font: 14px/20px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    outline: 0;
    -webkit-transition: border-color .3s cubic-bezier(0.39,.575,.565,1),background-color .3s cubic-bezier(0.39,.575,.565,1);
    transition: border-color .3s cubic-bezier(0.39,.575,.565,1),background-color .3s cubic-bezier(0.39,.575,.565,1);
}

    .ui-input:hover, .ui-textarea:hover, .ui-input:focus, .ui-textarea:focus
    {
        border-color: #666;
    }

    .ui-input[disabled], .ui-textarea[disabled]
    {
        background-color: #ecebeb;
        border-color: #b2b2b2;
        cursor: not-allowed;
    }

    .ui-input::-webkit-input-placeholder, .ui-textarea::-webkit-input-placeholder
    {
        color: #999;
        text-overflow: ellipsis;
    }

    .ui-input::-moz-placeholder, .ui-textarea::-moz-placeholder
    {
        color: #999;
        text-overflow: ellipsis;
    }

    .ui-input:-ms-input-placeholder, .ui-textarea:-ms-input-placeholder
    {
        color: #999!important;
        text-overflow: ellipsis;
    }

.ui-input
{
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
}

.z-ui-input-disable
{
    background-color: #ecebeb;
    border-color: #b2b2b2;
    cursor: not-allowed;
}

.ui-textarea
{
    padding: 5px 10px;
    height: 72px;
    overflow: auto;
    resize: vertical;
}

.ui-input-success
{
    position: absolute;
    right: 1px;
    top: 1px;
    *top: 2px;
    z-index: 11;
    padding-right: 10px;
    padding-left: 5px;
    line-height: 30px;
    font-size: 17px;
    background: #fff;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.ui-label
{
    display: inline-block;
    font: 14px/32px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    _line-height: 34px;
    _height: 32px;
    _overflow: hidden;
}

.ui-form-item-group
{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 0;
    vertical-align: top;
    -webkit-transition: none!important;
    transition: none!important;
    -webkit-transition-duration: none!important;
    transition-duration: none!important;
    opacity: 1!important;
}

    .ui-form-item-group .ui-tooltips-bottom-left-arrow
    {
        left: 0;
        bottom: 100%;
        margin-bottom: 10px;
    }

        .ui-form-item-group .ui-tooltips-bottom-left-arrow .arrow
        {
            left: 14px;
        }

    .ui-form-item-group .ui-tooltips-left-arrow
    {
        left: 100%;
        top: 0;
        margin-left: 5px;
    }

.z-ui-form-item-warning .ui-dropdown-hd, .z-ui-form-item-warning .ui-dropdown-hd:hover, .z-ui-form-item-warning .ui-input, .z-ui-form-item-warning .ui-input:hover, .z-ui-form-item-warning .ui-input:focus, .z-ui-form-item-warning .ui-textarea, .z-ui-form-item-warning .ui-textarea:hover, .z-ui-form-item-warning .ui-textarea:focus
{
    border-color: #fca1a5;
    background-color: #ffe6e7;
}

.z-ui-form-item-success .ui-input-success
{
    visibility: visible;
    opacity: 1;
}

.ui-quantity
{
    display: inline-block;
    width: 73px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #e3e2e2;
    color: #333;
    vertical-align: top;
    text-align: center;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

    .ui-quantity:hover
    {
        border-color: #cac9c9;
    }

    .ui-quantity a
    {
        float: left;
        width: 21px;
        height: 100%;
        line-height: 22px;
        font-size: 15px;
        color: #7d7c7c;
        background-color: #f9f8f8;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }

        .ui-quantity a:hover
        {
            color: #333;
            text-decoration: none;
        }

        .ui-quantity a:active
        {
            color: #333;
            background-color: #ebe9e9;
        }

    .ui-quantity .vipFont
    {
        font-size: 10px;
    }

    .ui-quantity .z-disable
    {
        cursor: not-allowed;
    }

        .ui-quantity .z-disable, .ui-quantity .z-disable:hover, .ui-quantity .z-disable:active
        {
            background-color: #f9f8f8;
            color: #dad8d8;
        }

    .ui-quantity .z-loading
    {
        font-size: 0;
        background: #f9f8f8 url(//bootstrap.vipstatic.com/img/ui/ui-quantity-loading.gif?857c8d1b) center center no-repeat;
        color: #f9f8f8;
    }

    .ui-quantity .amount
    {
        float: left;
        width: 29px;
        height: 100%;
        line-height: 22px;
        font-size: 12px;
        border-left: 1px solid #e4e3e3;
        border-right: 1px solid #e4e3e3;
        overflow: hidden;
    }

    .ui-quantity .ii-loading-pink-16x16
    {
        margin-top: 3px;
    }

.z-ui-quantity-disable
{
    cursor: not-allowed;
    color: #999;
}

    .z-ui-quantity-disable:hover
    {
        border-color: #e3e2e2;
    }

    .z-ui-quantity-disable a
    {
        cursor: not-allowed;
    }

        .z-ui-quantity-disable a, .z-ui-quantity-disable a:hover, .z-ui-quantity-disable a:active
        {
            background-color: #f9f8f8;
            color: #dad8d8;
        }

.ui-tab-panel
{
    font-size: 0;
    *word-spacing: -1px;
    position: relative;
    zoom: 1;
    border-bottom: 1px solid #ccc;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .ui-tab-panel
    {
        letter-spacing: -5px;
    }
}

.ui-tab-panel li
{
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 44px;
    _width: 44px;
    padding: 0 10px;
    line-height: 34px;
    color: #666;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,1,.75,1.2);
    transition-timing-function: cubic-bezier(0,1,.75,1.2);
}

    .ui-tab-panel li:hover, .ui-tab-panel li.z-current
    {
        color: #f10180;
    }

.ui-tab-panel .line
{
    position: absolute;
    left: 0;
    bottom: -1px;
    padding: 0;
    min-width: 0;
    width: 0;
    height: 10px;
    overflow: hidden;
    border-bottom: 2px solid #f10180;
}

.ui-tab-classic .ui-tab-panel
{
    border-bottom: 0 none;
}

    .ui-tab-classic .ui-tab-panel li
    {
        font-size: 14px;
        min-width: 56px;
        _width: 56px;
        padding: 0 19px;
        line-height: 30px;
        border: 1px solid #e5e5e5;
        color: #666;
        background-color: #fafafa;
        margin-right: -1px;
        -webkit-transition-property: background-color,color,border-color;
        transition-property: background-color,color,border-color;
    }

        .ui-tab-classic .ui-tab-panel li:hover
        {
            color: #f10180;
            background-color: #fff;
        }

        .ui-tab-classic .ui-tab-panel li.z-current
        {
            border-top: 2px solid #f10180;
            border-bottom-color: #fff;
            color: #f10180;
            height: 29px;
            line-height: 28px;
            background-color: #fff;
        }

.ui-tab-classic .ui-tab-bd
{
    margin-top: -1px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.f-hidden
{
    display: none;
}

.f-block
{
    display: block;
}

.f-inline-block
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-text-left, .f-tal
{
    text-align: left;
}

.f-text-center, .f-tac
{
    text-align: center;
}

.f-text-right, .f-tar
{
    text-align: right;
}

.f-nowrap
{
    white-space: nowrap;
}

.f-default
{
    cursor: default;
}

.f-pointer
{
    cursor: pointer;
}

.f-not-allowed
{
    cursor: not-allowed;
}

.vipFontEnd
{
    color: red;
}
